
@{
    ViewData["Title"] = "Index";
}
<style>



    h2{
        text-align:center;
        color:#3D7878;
        font-size:50px;
        font-weight:bold;
        font-family: Fondamento, cursive;
    }

        .photo{
        border-radius: 40px;
        width: 50%;
        height: 50%;
        animation: tai3 2s ease-in;
        animation-fill-mode: forwards;
    }

</style>
<h2>We're still developing the function.</h2>

<img src="~/Images/working.png"/>