@model JlizBankMvc.Models.ResetPwdViewModel;
@{
    ViewData["Title"] = "ForgetPassword";
}


<style>
    .form-group{
        padding:10px 10% 10px 10%;
        margin:1% 25% 0 25%;
        border-radius:20px;
        background-color:white;
        width:50%;
        box-shadow:0px 0px 5px;
    }
      label{
        font-size:20px;
        font-weight:300;
         font-family: Itim, cursive;
    }
    h2{
        text-align:center;
        color:#3D7878;
        font-size:50px;
        font-weight:bold;
        font-family: Fondamento, cursive;
    }
    input,label,a{
        font-family: Itim, cursive;
    }
    .MyBtn{
        border-radius:10px;
        width:100%;
        margin:auto;
        background-color:#00FFFF;
        box-shadow:2px 2px 4px;
    }
    .MyBtn:hover{
        background-color:#00E3E3;
    }


  input[type=text],   input[type=email], input[type=password]{
      padding:10px 30px;
      border-radius:10px;
  }



         .succuss{
        background-color:#02F78E;
         margin:3% 0 0 3%;
         color:#01814A;
         padding-left:9%;
         font-size:14px;
        background-image: url("/Images/valid.png");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 2% 8%;
        border-radius:6px;
  }

  .wrong{
      background-image: url("/Images/Wrong.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 2% 8%;
    font-size:14px;
    padding-left:9%;
      color:red; 
      margin:4%;
      background-color:#FFB5B5;
      border-radius:6px;
  }



</style>


<h2>Forget Password</h2>

<form class="form-group"  method="post" asp-controller="Modify" asp-action="ForgetPassword" id="formCode">

    <label>Login Account: </label>
    <input class="form-control" type="text" required placeholder="Required" asp-for=LoginAccount />
    <p></p>
    
     <label>Email: </label>
    <input class="form-control" type="text" required placeholder="Required"   asp-for=Email />
    <p></p>


    <input type="submit" value="Send Verification code to my Email" class="MyBtn" onclick="Countdown()" id="sendCode">
    <p></p>
 
@*設定10s後才能再次發送驗證碼*@
     <script>
            var btn=document.getElementById('sendCode');
            var count=3;
            var timer=null;
        function Countdown(){

            btn.disabled=true;
            btn.value="Send Verification code to my Email ("+count+"s)";

            if(count !=0){
                timer=setTimeout(Countdown, 1000);
                count--;
            }
            else{
                btn.removeAttribute('disabled');
                count=10;
                document.getElementById('formCode').submit();
            }
    }
    </script>

 
        @{
            if (TempData["IdMsg"]!=null &&  !string.IsNullOrEmpty(TempData["IdMsg"].ToString()))
            {
                <p class="succuss">@TempData["IdMsg"].ToString()</p>
            }

              if (TempData["IdWrongMsg"]!=null &&  !string.IsNullOrEmpty(TempData["IdWrongMsg"].ToString()))
            {
                <p class="wrong">@TempData["IdWrongMsg"].ToString()</p>
            }
        }


    
</form>

                <form class="form-group"  method="post" asp-controller="Modify" asp-action="VerifyCodeResetPwd" id="form2">

                 <label>Verification Code: </label>
                <input class="form-control" type="text" required placeholder="Required"  id="Pwd"  asp-for=InputVerificationCode/>
                <p></p>
                <input type="submit" value="Verify" class="MyBtn" >
                <p></p>

                @{
                         if (TempData["CodeSuccessMsg"]!=null && !string.IsNullOrEmpty(TempData["CodeSuccessMsg"].ToString()))
                    {
                        <p class="success">@TempData["CodeSuccessMsg"].ToString()</p>
                    }
                     if (TempData["CodeWrongMsg"]!=null && !string.IsNullOrEmpty(TempData["CodeWrongMsg"].ToString()))
                    {
                        <p class="wrong">@TempData["CodeWrongMsg"].ToString()</p>
                    }
                }
            
 </form>







