@model   JlizBankMvc.Models.ChangePwdViewModel;

@{
    ViewData["Title"] = "ModifyPassword";
}



<style>
        .form-group{
         padding:2% 10% 2% 10%;
         margin:1% 25% 0 25%;
        border-radius:20px;
        background-color:white;
        width:50%;
        box-shadow:0px 0px 5px;
    }
      label{
        font-size:20px;
        font-weight:300;
         font-family: Itim, cursive;
    }
    h2{
        text-align:center;
        color:#3D7878;
        font-size:50px;
        font-weight:bold;
        font-family: Fondamento, cursive;
    }
    input,label,a{
        font-family: Itim, cursive;
    }
    .MyBtn{
        border-radius:10px;
        width:100%;
        margin:auto;
        background-color:#00FFFF;
        box-shadow:2px 2px 4px;
    }
    .MyBtn:hover{
        background-color:#00E3E3;
    }

        input[type=text]:valid, input[type=email]:valid, input[type=password]:valid{
        transition:0.2s;
        background-image: url("/Images/valid.png");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 5px 12px;
 }

  input[type=text]:invalid:not(:focus):not(:placeholder-shown), input[type=email]:invalid:not(:focus):not(:placeholder-shown), input[type=password]:invalid:not(:focus):not(:placeholder-shown){
     background:pink;
 }

 input[type=text]:invalid:not(:placeholder-shown) ~ .errorMsg,  input[type=email]:invalid:not(:placeholder-shown) ~ .errorMsg,  input[type=password]:invalid:not(:placeholder-shown) ~ .errorMsg{
         max-height:35px;
         word-wrap:normal;
     }
 


  input[type=text],   input[type=email], input[type=password]{
      padding:10px 30px;
      border-radius:10px;
      width:400px;
  }

    .errorMsg{
        transition:0.2s;
        background-image: url("/Images/Wrong.png");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 0px 10px;
        font-size:14px;
      padding:5px 0 0 25px;
      max-height:0;
      transition:0.4s;
      overflow:hidden;
      color:red;
  }

        .succuss{
        background-color:#02F78E;
         margin:3% 0 0 3%;
         color:#01814A;
         padding-left:9%;
        background-image: url("/Images/valid.png");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 2% 8%;
        border-radius:6px;
  }

  .wrongPwd{
      background-image: url("/Images/Wrong.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 2% 8%;
    padding-left:9%;
      color:red; 
      margin:4%;
      background-color:#FFB5B5;
      border-radius:6px;
  }

</style>


<h2>Modify Password</h2>

<form class="form-group"  method="post" asp-controller="Modify" asp-action="ModifyPassword">

    <label>Old Password: </label>
    <input class="form-control" type="password" required placeholder="Required" asp-for="OldPwd" />
    <p></p>
    
     <label>New Password: </label>
    <input class="form-control" type="password" required placeholder="Required" asp-for="NewPwd" id="Pwd" onkeyup="CheckPwd()" />
    <p></p>

    <label>Confirm New Password: </label>
    <div>
    <input class="form-control" type="password" required placeholder="Required" asp-for="CfmPwd" id="Pwd2" onkeyup="CheckPwd()" />
     <div class="errorMsg" id="PwdMsg">Password are not the same, please fill in again!</div>
    <div class="errorMsg" id="PwdMsg2">8-15 characters, at least one uppercase letter, one lowercase letter and one number</div>

    <script>
        var Pwd=document.getElementById("Pwd");
        var Pwd2=document.getElementById("Pwd2");
        function PwdWrong(){
               $("#Pwd").css({"background-image": ""});
               $("#Pwd2").css({"background-image": ""});
               $("#Pwd").css({"background": "pink"});
               $("#Pwd2").css({"background": "pink"});
               Pwd.setCustomValidity('Please input the asked format!');
               Pwd2.setCustomValidity('Please input the asked format!');
        }
        function PwdCorrect(){
                $("#Pwd").css({"background": "url('/Images/valid.png')", "background-size": "20px", 
                "background-repeat":"no-repeat", "background-position": "5px 12px", "transition":"0.2s"});

                $("#Pwd2").css({"background": "url('/Images/valid.png')", "background-size": "20px", 
                "background-repeat":"no-repeat", "background-position": "5px 12px", "transition":"0.2s"});
                
        }
        function CheckPwd()
        {
           var validate=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[\da-zA-Z\W]{8,15}$/;

           if(Pwd.value !=Pwd2.value){
                    PwdWrong();
                    $("#PwdMsg").css({"max-height" :"35px"});     
           }
           if(Pwd.value ==Pwd2.value){
               PwdCorrect();
               $("#Pwd").css({"background": ""});
               $("#Pwd2").css({"background": ""});
              $("#PwdMsg").css({"max-height" :"0"});
           }
          if(!Pwd.value.match(validate) || !Pwd2.value.match(validate)){
                    PwdWrong();
                    $("#PwdMsg2").css({"max-height" :"60px"});
                    
          }
          if(Pwd.value.match(validate) && Pwd.value ==Pwd2.value){
              PwdCorrect();
              $("#PwdMsg").css({"max-height" :"0"});
              $("#PwdMsg2").css({"max-height" :"0"});
              Pwd.setCustomValidity('');
              Pwd2.setCustomValidity('');
          }
       
        }
    </script>

    </div>
    <p></p>
    <input type="submit" value="Modify My Password" class="MyBtn"  >
       

        @{
            if (ViewBag.ChangePwd!=null && !string.IsNullOrEmpty(ViewBag.ChangePwd))
            {
                <p class="succuss">@ViewBag.ChangePwd</p>
            }
        }

        
        @{
            if (ViewBag.WrongMsg!=null && !string.IsNullOrEmpty(ViewBag.WrongMsg))
            {
                <p class="wrongPwd">@ViewBag.WrongMsg</p>
            }
        }

    
</form>